<a href="https://colab.research.google.com/github/Anirudh1905/ESF/blob/master/SOURCE_CITY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.6/dist-packages (0.18.0)

In [ ]:
dg=pd.read_excel('/content/drive/My Drive/COVID Basti CONFIDENTIAL/2 Incoming Datasets/After Step 9/2_clean_Ramnagar_06-05_29-05.xlsx')
dg['source_city'].nunique()

191

In [ ]:
df1=pd.read_excel('/content/1.xlsx')
a=df1['unclean_source_city'].tolist()
b=df1['source_city'].tolist()
dg.replace(a,b,inplace=True)
dg['source_city'].nunique()

129

In [ ]:
dg.fillna('unknown',inplace=True)
p=['मुम्बई','मुम्बई भिवडी','सूरत','हैदराबाद','तेलंगाना','लुधियाना','हापुड','मुम्बई मानखुर्द एकतानगर','गुजरात गोधरा','थाने','वसई','बसई','अन्धेरी बेस्ट','पुणे','गुजरात','केरल','कानपुर','अहमदाबाद']
q=['Mumbai','Bhiwandi','Surat','Hyderabad','Telangana','Ludhiana','Hapur','Ekta Nagar Mankhurd','Godhra','Thane','Vasai','Vasai','Andheri','Pune','Gujarat','Kerala','Kanpur','Ahmedabad']
dg.replace(p,q,inplace=True)
dg['source_city'].nunique()

130

In [ ]:
### Add code or code cells here to clean city list using fuzzy matching if score is more than 60%.
### Note you may need to check for मुम्बई  and Mumbai because fuzzy matching cannot work across fonts in hindi and english.
from fuzzywuzzy import process

df3=pd.read_excel('/content/2.xlsx')
y=df3['State Name'].tolist()
y=list(set(y))
f=0
for x in dg['source_city'].values:
  if x!='unknown':
    t=process.extract(x,y)
    for k in t:
      if k[1]>60 and f==0:
        dg.replace(x,k[0],inplace=True)
        f=1
    f=0
dg.head()

   sr_no district   tehsil  ... Unnamed: 30 comments Unnamed: 32
0    238    Basti  BHANPUR  ...     unknown  unknown     unknown
1    174    Basti  BHANPUR  ...     unknown  unknown     unknown
2    201    Basti  BHANPUR  ...     unknown  unknown     unknown
3    647    Basti  BHANPUR  ...  GLOBAL ACT  unknown     unknown
4    976    Basti  BHANPUR  ...       OTHER  unknown     unknown

[5 rows x 33 columns]

In [ ]:
dg['source_city'].nunique()

86

In [ ]:
dg.to_excel("output3.xlsx")